<div class="mt-5 mb-5">
    <div class="d-flex justify-content-center align-items-center">
        <div class="col-md-8">
            <div class="d-flex justify-content-center align-items-center">
                <h1 class="display-5 mt-5 mb-5 greeting-text">{{greetingText}}</h1>
            </div>
            <div class="search">
                <i class="fa fa-search"></i>
                <input #searchInput type="text" class="form-control" placeholder="{{searchBarText}}" (keyup.enter)="navigateToSearchText(searchInput.value)">
            </div>
            <div class="d-flex justify-content-center align-items-center">
                <button class="btn btn-dark mt-5 mb-5 search-button" (click)="navigateToSearchText(searchInput.value)">{{searchButtonText}}</button>
            </div>
        </div>
    </div>
</div>

<div class="mt-5 mb-5">
    <table class="table mb-5">
        <thead class="table-dark">
            <tr>
                <th scope="col" class="text-center col-1-text">{{col1Text}}</th>
                <th scope="col" class="text-center col-2-text">{{col2Text}}</th>
                <th scope="col" class="text-center col-3-text">{{col3Text}}</th>
                <th scope="col" class="col-4 text-center col-4-text">{{col4Text}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let city of citiesByPageNumber; let i = index">
                <th scope="row" class="text-center">{{i + 1}}</th>
                <td class="text-center">{{city.uuid}}</td>
                <td class="text-center">{{city.cityName}}</td>
                <td class="text-center">{{city.count}}</td>
            </tr>
        </tbody>
    </table>

    <!-- Pagination Starts -->
    <app-city-pagination 
    [getPageNumbers] = "getPageNumbers"
    [calculateTotalPage] = "calculateTotalPage"
    [cities] = "cities"
    [currentSearchText] = "currentSearchText"
    [currentPageNumber] = "currentPageNumber"
    [maxPageValue] = "maxPageValue"
    >
    </app-city-pagination>
    <!-- Pagination Ends -->

</div>